<!DOCTYPE html>
<html>
<head>
	<title>Inscription</title>
</head>

<body>
	<center>
		<form action="?action=addUser" method="POST">
			<input type="text" name="lastName" placeholder="LastName"><br>
			<input type="text" name="firstName" placeholder="firstName"><br>
			<input type="email" name="email" placeholder="mail@exemple.com"><br>
			<input type="text" name="phone" placeholder="01.02.03.04.05"><br>
			<input type="file" name="photo" placeholder="photo"><br>
			<input type="password" name="password" placeholder="password"><br>
			<select name="status">
				<option value="1">entreprise</option>
				<option value="2">employé</option>
			</select><br>
			<input type="text" name="job" placeholder="job"><br>
			<input type="text" name="company" placeholder="company"><br>
			<input type="text" name="town" placeholder="town"><br>
			<input type="submit" name="SignIn" value="S'inscire"><br>
		</form>
	</center>
</body>

</html>