<!DOCTYPE html>
<html>
<head>
	<title>Inscription</title>
</head>

<body>
	<center>
		<form enctype="multipart/form-data" action="index.php?action=addUser" method="POST">
			<input type="text" name="firstName" placeholder="Prénom" required ><br>
			<input type="text" name="lastName" placeholder="Nom" required ><br>
			<input type="email" name="email" placeholder="Adresse email" required ><br>
			<input type="text" name="phone" placeholder="Numéro de téléphone" required ><br>
			<input type="file" name="photo" accept="image/png, image/jpeg" placeholder="photo" ><br>
			<input type="password" name="password" placeholder="Mot de passe" required ><br>
			<input type="password" name="confirmPassword" placeholder="Confirmez mot de passe" required ><br>
			<select name="status">
				<option value="1">entreprise</option>
				<option value="2" selected>employé</option>
			</select><br>
			<input type="text" name="job" placeholder="Emploi" required ><br>
			<input type="text" name="company" placeholder="Entreprise" required ><br>
			<input type="text" name="town" placeholder="Ville" required ><br>
			<input type="submit" name="SignIn" value="S'inscire"><br>
		</form>
	</center>
</body>

</html>