
		body {
					background-color: #f5f6fa;
		}
		.logo {
					color:#F5F6FA;
		}

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }
        .navbar-brand {
            font-weight: bold;
        }
        .nav-link,.card-title {
            color:#2c3e50;
            
        }
        .navbar,.navbar-light,.bg-bleu {
            background-color:#2c3e50
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }